{% extends "base.html" %}

{% block title %}About Mummu{% endblock %}

{% block content %}
    {% load static %}
    <center><img src="{% static "images/contactpage.png" %}" alt="My image" height="300" width="300"/>
    <br>  <br>  <br>  <br>  <br>  <br>  <br>
    <h1>뭄무 컴퍼니</h1>
    <p>Kakao ID : @mummu<br/></p>
    <p>email : mummucompany@gmail.com<br/></p>
    <p>연락처 : 010. 3649. 6495<br/></p>
    <p>연락처 2 : 010. 5278. 2418<br/></p>
    <p>주소 : 서울시 중구 퇴계로6가길 36-2번지 2층<br/></p>
  </center>
{% endblock %}
