{% extends 'base.html' %}

{% block content %}
  <h1>SPEECH -> TEXT</h1>
  <p>Executive Summary
As CIOs and CFOs search for efficient, agile and cost-effective ways to deliver business services to the enterprise, they naturally consider public cloud solutions. Cloud technology supports all types of IT capabilities, from basic computing and storage to platforms and applications. These cloud services can be orchestrated to deliver what is consumed by the enterprise – business services. If any portion of this orchestration does not meet service level objectives, the business can be impacted, from slow response time to debilitating outages and damage to the enterprise’s reputation. Moreover, the broader adoption of hybrid cloud solutions requires management visibility across both in-house systems and public cloud services to ensure the availability and performance of critical services. Therefore, service agreements from cloud service providers need to be understood and balanced against the needs of the business.
CIOs who have already outsourced parts of their infrastructure understand the value of Service Level Agreements (SLAs), and will readily accept the need for formal Cloud Service Agreements (CSAs) and their associated SLAs. For organizations that are using a cloud service for the first time, CSAs may be totally new. IT managers who rely on computing resources that are located and managed outside their immediate control quickly realize that in order to ensure the level of service required by the business, they must understand their objectives and transform them into formalized service levels, agreed with the cloud service providers.
This paper provides cloud service customers with a pragmatic approach to understand and evaluate public CSAs. The recommendations are based on a thorough assessment of publicly available agreements from leading providers. In addition to this paper, a great deal of research and analysis regarding the landscape of CSAs is available in the CSCC’s Practical Guide to Cloud Service Agreements.
In general, we have found that the current terms proposed by public cloud service providers fall short of the commitments that many businesses require. Of course, these providers have reputations to establish or maintain, therefore they are likely to employ all reasonable efforts to correct problems, restore performance, protect security, and so on. However, neither the specifics of the measures they take, nor the remedies they offer if they fall short, are currently expressed well enough in most of their standard formal agreements. Furthermore, the language about service levels is often distributed among several documents that do not follow a common industry-wide terminology. We hope that one impact of this paper will be to improve this state of affairs.
A development of interest in this area is the work currently underway to create an international standard for CSAs, ISO/IEC 19086. Once published, it should help provide a common vocabulary for use in CSAs and in their associated SLAs.
When specific examples are used in this paper, they reflect the state of the practice as of the date of this document – they can be neither permanent nor exhaustive. In addition, such examples are NOT intended to compare or recommend specific cloud service providers, but rather to provide illustrations and observations from a vendor-neutral perspective, leading to key considerations for evaluating a public CSA. Similar text will be found across multiple cloud service providers, and customers need to perform their own analysis of relevant agreements and other contractual expectations and obligations</p>
  <h1>English -> Chinese</h1>
  <p>执行摘要
随着首席信息官和首席财务官寻求有效，灵活和具有成本效益的方式向企业提供业务服务，他们自然会考虑公共云解决方案。云技术支持从基础计算和存储到平台和应用程序的所有类型的IT功能。这些云服务可以协调一致，以提供企业所消耗的业务服务。如果该业务流程的任何部分不符合服务水平目标，业务可能会受到影响，从缓慢的响应时间到虚弱的中断以及对企业声誉的损害。此外，更广泛采用混合云解决方案需要管理内部系统和公共云服务的可见性，以确保关键服务的可用性和性能。因此，云服务提供商的服务协议需要根据业务需求进行了解和平衡。
已经外包部分基础设施的首席信息官了解了服务水平协议（SLA）的价值，并将随时接受正式的云服务协议（CSA）及其相关SLA的需求。对于首次使用云服务的组织来说，CSA可能是全新的。依靠在即时控制之外的计算资源的IT经理很快意识到，为了确保业务所需的服务水平，他们必须了解其目标并将其转变为正式的服务水平，并与云服务一致供应商。
本文为云服务客户提供了务实的方法来理解和评估公共CSA。这些建议基于对领先供应商公开提供的协议的全面评估。除了本文之外，CSCC“云服务协议实用指南”还提供了关于CSA风景的大量研究和分析。
一般来说，我们发现公共云服务提供商提出的现行术语不符合许多企业所要求的承诺。当然这些提供商有建立或维护的声誉，所以他们有可能采取一切合理的努力来纠正问题，恢复性能，保护安全等。然而，他们所采取的措施的具体细节，如果缺乏补救措施，也没有提供任何补救措施，目前在大多数标准正式协议中都表达得很好。此外，关于服务水平的语言通常分布在不遵循通用行业范围的术语的几个文档之间。我们希望本文的一个影响是改善这种情况。
该领域的兴趣发展是目前正在进行的为CSA，ISO / IEC 19086制定国际标准的工作。一旦发布，它应该有助于提供在CSA及其相关SLA中使用的常用词汇。
当本文使用具体实例时，它们反映了本文档之日的实践状态 - 它们既不是永久的，也不是穷尽的。此外，这些示例并不是为了比较或推荐特定的云服务提供商，而是从供应商中立的角度提供插图和观察，从而导致评估公共CSA的关键考虑。类似的文本将在多个云服务提供商中找到，客户需要对相关协议和其他合同期望和义务进行自己的分析。</p>
  <h1>Analysis</h1>
  {% load static %}
  <img src="{% static "images/alice.png" %}" alt="My image" height="800" width="800"/>
  <ol>
    <li>
      <h1>customer</h1>
    </li>
    <p>google_vector.most_similar(positive=['customer',])
[('customers', 0.7529321908950806), ('Customer', 0.7518755793571472), ('customer_satisfaction', 0.6542136669158936), ('customer_loyalty', 0.594914436340332), ('cus_tomer', 0.5695374011993408), ('andcustomer', 0.5693857669830322), ('CSRs', 0.5609885454177856), ('clients', 0.5580306649208069), ('client', 0.5565297603607178), ('Customer_Service', 0.5556120872497559)]</p>
    <li>
      <h1>provider</h1>
    </li>
    <p>google_vector.most_similar(positive=['provider',])
[('supplier', 0.6517484188079834), ('providers', 0.6304835081100464), ('leadingprovider', 0.5895131826400757), ('PopCap_Games_http://www.popcap.com', 0.5830479264259338), ('providerof', 0.5798712968826294), ('integrator_specializing', 0.5776472091674805), ('aleading_provider', 0.5742838978767395), ('systems_integrator', 0.5742090344429016), ('Nasdaq_MTSL', 0.5732178688049316), ('leading_providerof', 0.5700793862342834)]</p>
    <li><h1>cloud</h1></li>
    <p>google_vector.most_similar(positive=['cloud',])
[('clouds', 0.7632128000259399), ('Cloud', 0.6046802997589111), ('Abu_Risha_assassination', 0.595571756362915), ('Carefully_cautiously', 0.5875018835067749), ('cloud_computing', 0.5641705989837646), ('daily_Ichimoku', 0.5513164401054382), ('IaaS_PaaS_SaaS', 0.5428812503814697), ('dark_clouds', 0.5420233011245728), ('Flexiscale', 0.5374433398246765), ('InfoWorld_Cloud_Computing', 0.5269529819488525)]</p>
<li>
  <h1>service</h1>
</li>
<p>google_vector.most_similar(positive=['service',])
[('supplier', 0.6517484188079834), ('providers', 0.6304835081100464), ('leadingprovider', 0.5895131826400757), ('PopCap_Games_http://www.popcap.com', 0.5830479264259338), ('providerof', 0.5798712968826294), ('integrator_specializing', 0.5776472091674805), ('aleading_provider', 0.5742838978767395), ('systems_integrator', 0.5742090344429016), ('Nasdaq_MTSL', 0.5732178688049316), ('leading_providerof', 0.5700793862342834)]
  </ol>
{% endblock %}
