{% extends 'base.html' %}

{% block content %}
  <h1>강의명 : 한국의 문화 1<br/></h1>
  <ol>
      <li>
        <p>(Uploaded at: May 22, 2017, 6:35 p.m.)</p>
        <a href="www.naver.com">documents/한국의문화_1_2017_봄학기_05_22.txt         </a>
        &nbsp;
        <a href="www.naver.com">delete</a>
      </li>

  </ol>
  <br/><br/>
  <h1>강의명 : 클라우드 컴퓨터<br/></h1>
  <ol>
    <li>
      <p>(Uploaded at: May 22, 2017, 6:35 p.m.)</p>
      <a href="www.naver.com">documents/클라우드컴퓨터_1_2017_봄학기_05_22.txt         </a>
      &nbsp;
      <a href="www.naver.com">delete</a>
    </li>
    <li>
      <p>(Uploaded at: May 27, 2017, 5:05 p.m.)</p>
      <a href="www.naver.com">documents/클라우드컴퓨터_1_2017_봄학기_05_27.txt         </a>
      &nbsp;
      <a href="www.naver.com">delete</a>
    </li>
    <li>
      <p>(Uploaded at: May 31, 2017, 3:15 p.m.)</p>
      <a href="www.naver.com">documents/클라우드컴퓨터_1_2017_봄학기_05_31.txt         </a>
      &nbsp;
      <a href="www.naver.com">delete</a>
    </li>
    <li>
      <p>(Uploaded at: June 03, 2017, 12:18 p.m.)</p>
      <a href="{% url "content" %}">documents/클라우드컴퓨터_1_2017_봄학기_06_03.txt         </a>
      &nbsp;
      <a href="www.naver.com">delete</a>
    </li>
  </ol>

{% endblock %}
